.collapseParent {
  display: flex;
}
.related_collapse_button {
  flex: 3;
    /* background-color: var(--yt-spec-brand-background-primary) !important; */
    background-color: transparent;
    color: var(--ytd-searchbox-text-color) !important;
    cursor: pointer;
    padding: 15px;
    /* width: 70%; */
    border-top: 1px solid var(--yt-spec-10-percent-layer);
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-bottom: 0.5em; */
    text-align: center;
  }
  .hover_button {
    flex: 2;
    /* background-color: var(--yt-spec-brand-background-primary) !important; */
    background-color: transparent;
    color: var(--ytd-searchbox-text-color) !important;
    cursor: pointer;
    padding: 15px;
    /* width: 30%; */
    border-left: 1px solid var(--yt-spec-10-percent-layer);
    border-top: 1px solid var(--yt-spec-10-percent-layer);
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    border-right: 0px;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-bottom: 0.5em; */
    text-align: center;
  }
  .pip_button {
    flex: 1;
    /* background-color: var(--yt-spec-brand-background-primary) !important; */
    background-color: transparent;
    color: var(--ytd-searchbox-text-color) !important;
    cursor: pointer;
    padding: 15px;
    /* width: 30%; */
    border-left: 1px solid var(--yt-spec-10-percent-layer);
    border-top: 1px solid var(--yt-spec-10-percent-layer);
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    border-right: 0px;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-bottom: 0.5em; */
    text-align: center;
  }
  .top_button {
    flex: 0.25;
    /* background-color: var(--yt-spec-brand-background-primary) !important; */
    background-color: transparent;
    color: var(--ytd-searchbox-text-color) !important;
    cursor: pointer;
    padding: 15px;
    /* width: 30%; */
    border-left: 1px solid var(--yt-spec-10-percent-layer);
    border-top: 1px solid var(--yt-spec-10-percent-layer);
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    border-right: 0px;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-bottom: 0.5em; */
    text-align: center;
  }
.related_collapse_button:hover, .hover_button:hover, .pip_button:hover, .top_button:hover {
  /* background-color: var(--yt-ysm-background) !important; */
  background-color: var(--yt-spec-brand-background-primary) !important;
}