.collapseParent {
  display: flex;
}
.collapseParent > button {
  border-radius: 8px;
  border-color: transparent;
  background-color: var(--yt-spec-badge-chip-background);
  color: var(--yt-spec-text-primary) !important;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-align: center;
  word-break: keep-all;
}
.collapseParent > button#now_hovering_but_hidden {
  visibility: hidden;
}
.collapseParent > button:hover {
  background-color: var(--yt-spec-button-chip-background-hover);
}
.collapseParent#hovering {
  position: fixed !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
}
.collapseParent#hovering >button:hover {
  background-color: #909090 !important;
}
.collapseParent > button:not(:first-child) {
  margin-left: 10px;
}
.related_collapse_button {
  flex: 3;
}
.remove_right_blank {
  flex: 3;
}
.hover_button {
  flex: 3;
}
.pip_button {
  flex: 0.5;
}
.top_button {
  flex: 0.5;
}
.hover_controller {
  display: none;
}
.hover_controller#now_hovering {
  display: inline;
}