.collapseParent {
  display: flex;
}
.collapseParent > button {
  /* border-left: 1px solid var(--yt-spec-10-percent-layer);
  border-right: 1px solid var(--yt-spec-10-percent-layer);
  border-top: 1px solid var(--yt-spec-10-percent-layer);
  border-bottom: 1px solid var(--yt-spec-10-percent-layer); */
  border-radius: 8px;
  border-color: transparent;
  background-color: var(--yt-spec-badge-chip-background);
  color: var(--yt-spec-text-primary) !important;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-align: center;
}
.collapseParent > button:hover {
  /* background-color: var(--yt-ysm-background) !important; */
  background-color: var(--yt-spec-button-chip-background-hover);
}
/* .collapseParent > button:not(:first-child, :nth-child(2)) {
  margin-left: 10px;
}
.collapseParent > button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid var(--yt-spec-10-percent-layer);
}
.collapseParent > button:nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} */

.collapseParent > button:not(:first-child) {
  margin-left: 10px;
}
.related_collapse_button {
  flex: 3;
}
.remove_right_blank {
  flex: 2;
}
.hover_button {
  flex: 2;
}
.pip_button {
  flex: 1;
}
.top_button {
  flex: 0.25;
}